#sample-div1 {
    width: 200px;
    height: 48px;
}

#sample-div2 {
    width: 50%;
    height: 20%;
}

#sample-div3 {
    min-width: 200px;
    min-height: 40px;
}

#sample-div4 {
    max-width: 50%;
    max-height: 200px;
    overflow-y: scroll;
}