/*
this is the sample layout style
*/
body {
    padding: 0;
    margin: 0;
}

div {
    padding: 5px;
}

#header,
#footer {
    background-color: lightblue;
}

#container {
    background-color: lightgray;
}

#div-1 {
    background-color: lightsalmon;
}

#div-2 {
    background-color: lightgreen;
}

#div-3 {
    background-color: lightpink;
}

#div-4 {
    background-color: lightyellow;
}

/*
position property

static      (default) - normal position

fixed       this is to set the position of an
            element w.r.t. the browser window

relative    this is to set the position of an
            element w.r.t. its original position

absolute    this is to set the absolute position
            of an element in a page

*/

/*
#div-4 {
    position: fixed;
    top: 32px;
    right: 32px;
}
*/

/*
#div-4 {
    position: fixed;
    bottom: 32px;
    left: 32px;
}
*/

/*
#div-2 {
    position: relative;
    left: 32px;
    top: 32px;
}
*/

/*
#div-3 {
    position: absolute;
    left: 32px;
    top: 32px;
}
*/

#div-3 {
    position: absolute;
    bottom: 32px;
    right: 32px;
}